/**
 * _vars.scss
 * Custom vars and overrides
 */

// Grid
$grid: true;
$grid-max-width: 960px;
$grid-gutter: 10px;
$grid-mobile-breakpoint: 767px;
$grid-pull-push: false;

// Colours
$pink: #C02942;
$orange: #D95B43;
$gray-dark: #2a363b;
$grey-dark: $gray-dark;
$teal: #329c87;

// Colour assignment
$primary-colour: $pink;
$primary-color: $primary-colour;
%primary-colour {
	color: $primary-colour;
}

$secondary-colour: $gray-dark;
$secondary-color: $secondary-colour;
%secondary-colour {
	color: $secondary-colour;
}

$tertiary-colour: $teal;
$tertiary-color: $tertiary-colour;
%tertiary-colour {
	color: $tertiary-colour;
}

// Fonts
$sans-serif: 'Droid Sans', sans-serif;
$serif: 'Droid Serif', serif;