/**
 * _header.scss
 */

.page__header {
	background: $primary-color;
	width: 100%;
	padding: 10rem 0;
	margin-bottom: 5rem;
	background: url(../images/header-image.jpg) no-repeat 0 0;
	background-size: cover;
	@extend %text--center;
}

.page__title, .page__sub-title {
	color: $secondary-color;
}

.page__sub-title {
	font-size: 1.5rem;
	margin-bottom: 0;
}

.logo {
	text-decoration: none;
}