/**
 * _typography.scss
 */

body {
    font-size: 14px;
    line-height: 1.4;
    font-family: $sans-serif;
    @extend %secondary-colour;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
}

h1 {
    @extend %primary-colour;
}

h2 {
    @extend %tertiary-colour;
}

p {
    @include rem('margin', 0 0 20px 0);
}

.page__title {
	font-size: 50px;
}

.page__title, p {
	opacity: 0;
	@include vendor(animation, fade-in 0.4s ease 0.5s forwards);
	@extend %text--center;
}