/**
 * _typography.scss
 */

html {
	font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    line-height: 1.4;
    font-family: $sans-serif;
    @extend %secondary-colour;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 0;
}

h1 {
    @extend %primary-colour;
}

h2 {
    @extend %tertiary-colour;
}

p {
    margin: 0 0 2rem 0;
}

.fancify {
	font-family: $serif;
	color: $primary-colour;
}