/**
 * Extend grid-padding to save on repeating rules
 */
%grid-padding {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

%grid-padding-with-float {
  float: left;
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

.grid-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-max-width;
  @extend %grid-padding;
}

.grid-parent {
  padding-left: 0;
  padding-right: 0;
}

.grid-container,
.grid-100 {
  @extend .cf;
}

@for $i from 1 through 20 {
  .grid-#{$i*5} {
    width: $i*5%;
    @extend %grid-padding-with-float;
  }

  .pull-#{$i*5} {
    left: -$i*5%;
  }

  .push-#{$i*5} {
    left: $i*5%;
  }
}

[class*=push-],
[class*=pull-],
[class*=grid-] {
  position: relative;
}

.grid-33 {
  width: 33.33333%;
  @extend %grid-padding-with-float;
}

.push-33 {
  left: 33.33333%;
}

.pull-33 {
  left: -33.33333%;
}

.grid-66 {
  width: 66.66667%;
  @extend %grid-padding-with-float;
}

.push-66 {
  left: 66.66667%;
}

.pull-66 {
  left: -66.66667%;
}