/**
 * Extend grid-padding to save on repeating rules
 */
%grid-padding {
  padding-left: $grid-gutter;
  padding-right: $grid-gutter;
}

.#{$grid-class}-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $grid-max-width;
  @extend %grid-padding;
}

.#{$grid-class}-parent {
  padding-left: 0;
  padding-right: 0;
}

.#{$grid-class}-container,
.#{$grid-class}-100 {
  @extend .cf;
}

@for $i from 1 through 20 {
  .#{$grid-class}-#{$i*5} {
    float: left;
    width: $i*5%;
    @extend %grid-padding;
  }

  .pull-#{$i*5} {
    left: -$i*5%;
  }

  .push-#{$i*5} {
    left: $i*5%;
  }
}

[class*=push-],
[class*=pull-],
[class*=#{$grid-class}-] {
  position: relative;
}

.#{$grid-class}-33 {
  float: left;
  width: 33.33333%;
  @extend %grid-padding;
}

.push-33 {
  left: 33.33333%;
}

.pull-33 {
  left: -33.33333%;
}

.#{$grid-class}-66 {
  float: left;
  width: 66.66667%;
  @extend %grid-padding;
}

.push-66 {
  left: 66.66667%;
}

.pull-66 {
  left: -66.66667%;
}