/**
 * Colours
 */

$gray-light: #89999c;
$grey-light: $gray-light;
$gray-medium: #333;
$grey-medium: $gray-medium;
$gray: #667875;
$grey: $gray;
$green: #2e3b21;
$green-light: #62855a;
$green-yello: #bac44c;
$red: #ba1f25;

$pink: #fc5863;
$purple: #7a536f;
$yellow: #f0d863;
$blue: #364a7a;

$textColour: $gray-medium;

$colour-primary: $pink;
$color-primary: $colour-primary;
$colour-secondary: $blue;
$color-secondary: $colour-secondary;
$colour-tertiary: $yellow;
$color-tertiary: $colour-tertiary;

/**
 * Fonts
 */

$font-regular: 'OpenSansRegular', sans-serif;
$font-light: 'OpenSansLight', sans-serif;
$font-bold: 'OpenSansBold', sans-serif;
$font-italic: 'OpenSansItalic', sans-serif;

$font-body: $font-regular;
$font-subheading: $font-light;
$font-heading: $font-bold;

/**
 * Grid
 */
$grid-max-width: 960px;
$grid-gutter: 10px;