/**
 * _grid.scss
 */

@if $grid == true {

  @media screen and (max-width: 400px) {
    @-ms-viewport {
      width: 320px;
    }
  }

  .grid-container {
    margin-left: auto;
    margin-right: auto;
    max-width: $grid-max-width;
    padding-left: $grid-gutter;
    padding-right: $grid-gutter;
  }

  .grid-container, .grid-100 {
    @extend .cf;
  }

  .grid-5, .grid-10, .grid-15, .grid-20, .grid-25, .grid-30, .grid-35, .grid-40, .grid-45, .grid-50, .grid-55, .grid-60, .grid-65, .grid-70, .grid-75, .grid-80, .grid-85, .grid-90, .grid-95, .grid-100, .grid-33, .grid-66 {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }

  .grid-parent {
    padding-left: 0;
    padding-right: 0;
  }

  body {
    min-width: 320px;
  }

  @media screen and (max-width: $grid-mobile-breakpoint) {
    .grid-5, .grid-10, .grid-15, .grid-20, .grid-25, .grid-30, .grid-35, .grid-40, .grid-45, .grid-50, .grid-55, .grid-60, .grid-65, .grid-70, .grid-75, .grid-80, .grid-85, .grid-90, .grid-95, .grid-100, .grid-33, .grid-66 {
      width: 100% !important;
    }
  }
  
  @if $grid-pull-push == true {
    .push-5,
    .pull-5, .push-10,
    .pull-10, .push-15,
    .pull-15, .push-20,
    .pull-20, .push-25,
    .pull-25, .push-30,
    .pull-30, .push-35,
    .pull-35, .push-40,
    .pull-40, .push-45,
    .pull-45, .push-50,
    .pull-50, .push-55,
    .pull-55, .push-60,
    .pull-60, .push-65,
    .pull-65, .push-70,
    .pull-70, .push-75,
    .pull-75, .push-80,
    .pull-80, .push-85,
    .pull-85, .push-90,
    .pull-90, .push-95,
    .pull-95, .push-33,
    .pull-33, .push-66,
    .pull-66 {
      position: relative;
    }

    .push-5 {
      left: 5%;
    }

    .pull-5 {
      left: -5%;
    }

    .push-10 {
      left: 10%;
    }

    .pull-10 {
      left: -10%;
    }

    .push-15 {
      left: 15%;
    }

    .pull-15 {
      left: -15%;
    }

    .push-75 {
      left: 75%;
    }

    .pull-75 {
      left: -75%;
    }

    .push-80 {
      left: 80%;
    }

    .pull-80 {
      left: -80%;
    }

    .push-85 {
      left: 85%;
    }

    .pull-85 {
      left: -85%;
    }
    .push-90 {
      left: 90%;
    }

    .pull-90 {
      left: -90%;
    }

    .push-95 {
      left: 95%;
    }

    .pull-95 {
      left: -95%;
    }
    
    .push-33 {
      left: 33.33333%;
    }

    .pull-33 {
      left: -33.33333%;
    }

    .push-66 {
      left: 66.66667%;
    }

    .pull-66 {
      left: -66.66667%;
    }

    .push-20 {
      left: 20%;
    }

    .pull-20 {
      left: -20%;
    }

    .push-25 {
      left: 25%;
    }

    .pull-25 {
      left: -25%;
    }

    .push-35 {
      left: 35%;
    }

    .pull-35 {
      left: -35%;
    }

    .push-40 {
      left: 40%;
    }

    .pull-40 {
      left: -40%;
    }

    .push-45 {
      left: 45%;
    }

    .pull-45 {
      left: -45%;
    }

    .push-50 {
      left: 50%;
    }

    .pull-50 {
      left: -50%;
    }

    .push-55 {
      left: 55%;
    }

    .pull-55 {
      left: -55%;
    }

    .push-60 {
      left: 60%;
    }

    .pull-60 {
      left: -60%;
    }

    .push-30 {
      left: 30%;
    }

    .pull-30 {
      left: -30%;
    }

    .push-65 {
      left: 65%;
    }

    .pull-65 {
      left: -65%;
    }

    .push-70 {
      left: 70%;
    }

    .pull-70 {
      left: -70%;
    }
  }

  .hide-on-desktop {
    display: none !important;
  }

  .grid-5 {
    width: 5%;
  }

  .grid-10 {
    width: 10%;
  }

  .grid-15 {
    width: 15%;
  }

  .grid-20 {
    width: 20%;
  }

  .grid-25 {
    width: 25%;
  }

  .grid-30 {
    width: 30%;
  }

  .grid-35 {
    width: 35%;
  }

  .grid-40 {
    width: 40%;
  }

  .grid-45 {
    width: 45%;
  }

  .grid-50 {
    width: 50%;
  }

  .grid-55 {
    width: 55%;
  }

  .grid-60 {
    width: 60%;
  }

  .grid-65 {
    width: 65%;
  }

  .grid-70 {
    width: 70%;
  }

  .grid-75 {
    width: 75%;
  }

  .grid-80 {
    width: 80%;
  }

  .grid-85 {
    width: 85%;
  }

  .grid-90 {
    width: 90%;
  }

  .grid-95 {
    width: 95%;
  }

  .grid-33 {
    width: 33.33333%;
  }

  .grid-66 {
    width: 66.66667%;
  }

  .grid-100 {
    clear: both;
    width: 100%;
  }

}